.H2{
	font-family:'Comic Sans MS';
	font-style:italic;
	font-size:10;
	color:blue;	
}
.header2{
	font-family:'Comic Sans MS';
	font-size:8;
	color:olive;	
}
.tableHeader{
	font-family:sans-serif;
	font-weight:bold;
	font-size:10;
	color:olive;	
}
#menu {
	float:left;
	background:#E8F2FE;
	padding: 0px 0px 30px 0px;
	width: 100%;
}
#menu H2 {
	padding: 8px;
	font-size:100%;
	color:#413B4D;
	margin: 10px 5px 0px 5px;
	background:#2b77d5;
	height:100%;
	border-top: 1px solid #2b77d5;
	border-left: 1px solid #2b77d5;
	border-right: 1px solid #2b77d5;
	border-bottom: 1px solid #2b77d5;
}
#menu UL {
	padding: 0;
	margin: 0px 5px 0px 5px;
}
li.memList{
	font-size:80%;
	margin : 0px;
	font-family: 'Comic Sans MS';
}
li.headerli {
	font-size:100%;
	margin : 0px;
	padding : 8px;
	border-top: 0px solid #2b77d5;
	border-left: 1px solid #2b77d5;
	border-right: 1px solid #2b77d5;
	border-bottom: 1px solid #2b77d5;
	background:#FFFFFF;
	list-style: none inside;
	text-indent: 0px;

}